.dhf-user{
	/*min-height:60px;
	font-size: 16px;*/
	padding-left: 10px;
}
.dhf-user a{
  color: #fff;
}
.dhf-widget-user-header{
  min-height:100px;
}
.dhf-addrs{
	min-height:70px;
}
.dhf-lead{
margin-bottom: 0px;
color: #fff;
}
/* AUTOCOMPLETE */
.dhf-profile-user-img {
  width: 60px;
  padding: 0px;
}
.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
  padding-left: 10px;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em 0;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}
/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.well[ui-view]{
 height: 65px; 
}

.ui-view-container {
  position: relative;
}

 