<div class="row">
    <div class="col-md-3" >
        <div id="accordion" class="box-group">
            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
            <div class="panel box box-default box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">
                    <a   data-parent="#accordion" data-toggle="collapse" class="" aria-expanded="true">
                    Refine by
                    </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseTwo" aria-expanded="true" style="">
                    <div class="box-body">
                        <h4 class="box-title">Network</h4>
                        <ul class="list-unstyled">
                            <li class="text-light-blue" ng-repeat="agr in aggregations.network">
                                <input type="checkbox" checklist-model="req.network" /> {{agr.term}} <a class="pull-right badge bg-light-blue">{{agr.count}}</a>
                            </li>
                        </ul>
                        <hr/>
                        <h4 class="box-title">Specialty</h4>
                        <ul class="list-unstyled">
                            <li class="text-light-blue" ng-repeat="spc in aggregations.specialties">
                                <input type="checkbox" checklist-model="req.specialties" /> {{spc.term}} <a class="pull-right badge bg-light-blue">{{spc.count}}</a>
                            </li>
                        </ul>
                        <hr/>
                        <h4 class="box-title">Language</h4>
                        <ul class="list-unstyled">
                            <li class="text-light-blue" ng-repeat="lan in aggregations.language">
                                <input type="checkbox" checklist-model="req.language" /> {{lan.term}} <a class="pull-right  badge bg-light-blue">{{lan.count}}</a>
                            </li>
                        </ul>
                        <hr/>
                        <h4 class="box-title">Group</h4>
                        <ul class="list-unstyled">
                            <li class="text-light-blue" ng-repeat="agr in aggregations.group_name">
                                <input type="checkbox" checklist-model="req.group_name" /> {{agr.term}} <a class="pull-right badge bg-light-blue">{{agr.count}}</a>
                            </li>
                        </ul>
                        <hr/>
                        <h4 class="box-title">City</h4>
                        <ul class="list-unstyled">
                            <li class="text-light-blue" ng-repeat="agr in aggregations.city">
                                <input type="checkbox" checklist-model="req.city" /> {{agr.term}} <a class="pull-right badge bg-light-blue">{{agr.count}}</a>
                            </li>
                        </ul>
                        <hr/>
                        <h4 class="box-title">County</h4>
                        <ul class="list-unstyled">
                            <li class="text-light-blue" ng-repeat="agr in aggregations.county">
                                <input type="checkbox" checklist-model="req.county" /> {{agr.term}} <a class="pull-right badge bg-light-blue">{{agr.count}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel box box-default box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">
                    <a data-parent="#accordion" data-toggle="collapse" aria-expanded="true" class="">
                    Advance Filters
                    </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseOne" aria-expanded="true" style="">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Plans</label>
                            <select class="form-control select2" style="width: 100%;" ng-model="req.network" ng-options="plan.val as plan.name for plan in plans">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Distance</label>
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-repeat="dist in distsnce">
                                    <input type="radio" ng-model="req.radius" value="{{dist.val}}"> {{dist.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-repeat="gen in gender">
                                    <input type="radio" ng-model="req.male" value="{{gen.val}}"> {{gen.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Designations</label>
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <input type="checkbox" checklist-model="req.newpatent"> Accepting New Patients</li>
                                    <li>
                                        <input type="checkbox" checklist-model="req.newpatent"> Doctors in Patient-Centered Programs </li>
                                        <li>
                                            <input type="checkbox" checklist-model="req.newpatent">Language Spoken</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel box box-default box-solid">
                            <div class="box-header with-border">
                                <h4 class="box-title">
                                <a   data-parent="#accordion" data-toggle="collapse" class="collapsed" aria-expanded="false">
                                Filter by Language
                                </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseThree" aria-expanded="false" style="height: 0px;">
                                <div class="box-body">
                                    <autocomplete ng-model="req.language" data="language" attr-input-class="form-control my-colorpicker1 colorpicker-element"></autocomplete>
                                    <!--ul class="nav nav-pills nav-stacked">
                                                            <li ng-repeat="lan in language">
                                                                <input type="checkbox" checklist-model="req.language" checklist-value="lan.val"> {{lan.name}}</li>
                                    </ul-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" ng-if="total == 0">
                    <h3> Your search  did not match any documents.</h3>
                    <H5>Did you mean? </h5>
                    <ul class="list-unstyled">
                        <li ng-repeat="suggest in suggestion">
                        <a href="#"><b>{{suggest.text}}</b></a></li>
                    </ul>
                </div>
                <div class="col-md-9" ng-if="total != 0">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="pagination pagination-sm inline pull-left">
                                <li><a href="">Showing  {{stNum}} - {{endNum}} of {{ total }}  In-Network Doctors</a></li>
                                <li> <a href="#/compare/{{selectionBID | arrayToString}}" clas="bg-light-blue-active"><i class="fa fa-files-o"></i> Compare {{selectionBID.size()}} Doctors</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="pagination pagination-sm inline pull-right">
                                <!--li ng-repeat="i in Range(stPGNum, endPGNum)"><a href="#/search/{{i}}">{{i}}</a></li-->
                                 <li ><a href="#/search/2">2</a></li>
                                  <li ><a href="#/search/3">3</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="provider in providers">
                            <div class="box box-widget widget-user-2 box-solid">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header dhf-widget-user-header bg-gray">
                                    <div class="widget-user-image" ng-switch="provider._source.male"><img ng-switch-when="true" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/male.jpg" class="img-circle" /> <img ng-switch-when="false" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/female.jpg" class="img-circle" /> </div>
                                    <!-- /.widget-user-image -->
                                    <h4 class="fixed-username dhf-user"><a href="#profile/{{page}}/{{ provider._source.bid }}">{{ provider._source.name }} {{ provider._source.degree }}</a></h4>
                                    <p class="widget-user-desc">{{ provider._source.specialties.join(", ")}}</p>
                                    <p class="widget-user-desc">
                                    <img class="pull-right" ng-if="provider._source.omt1" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/tier-one.png" typeof="foaf:Image" />
                                    <img class="pull-right" ng-if="provider._source.omt2" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/tiertwo.png" typeof="foaf:Image" /></p>
                                </div>
                                <div class="box-body"> <strong>  <i class="fa fa-phone margin-r-5"></i>Phone</strong>
                                    <p class="">{{ provider._source.phone }}</p> <strong><i class="fa fa-map-marker margin-r-5"></i>Location</strong>
                                    <p class=" dhf-addrs">{{ provider._source.address1 }}, {{ provider._source.city }}, {{ provider._source.state }} - {{ provider._source.zip }}-{{ provider._source.zip4 }}</p> <strong><i class="fa fa-car margin-r-5"></i>Distance</strong>
                                    <p class="">1.9 Miles Away</p>
                                    <p>
                                    <input id="{{ provider._source.bid}}" class="" type="checkbox" value="{{provider._source.bid}}" ng-checked="selection.indexOf(provider._source.bid) > -1" ng-click="toggleSelection(provider._source.bid)" /> Add to Compare
                                    </p>
                                </div>
                                <div class="box-footer">
                                    <div class="form-group">
                                    <a class="small-box-footer btn bg-light-blue-active btn-flat pull-right btn-block" href="#/profile/{{page}}/{{ provider._source.bid}}">  View Profile <i class="fa fa-arrow-circle-right"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="pagination pagination-sm inline pull-right">
                               <li ><a href="#/search/2">2</a></li>
                                  <li ><a href="#/search/3">3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>