<div class="col-md-12">
			<div class="box">
                <div class="box-header">
                <div class="col-md-6">
                  <h3 class="box-title">Compare {{comparTotal}} providers</h3>
                  </div>
                  <div class="col-md-6"><a  href="#/search/{{page}}"  class="small-box-footer btn bg-light-blue-active btn-flat pull-right" ><i class="fa fa-arrow-circle-left"></i> &nbsp;&nbsp;&nbsp;&nbsp;Back to Search result</a></div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover table-bordered table-striped">
                    <tbody>
                    <tr >
                      <th> </th>
                      <td ng-repeat="provider in providers">
                      	<div  ng-switch="provider._source.male"><img ng-switch-when="true" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/male.jpg" class="profile-user-img img-responsive img-circle"/> <img ng-switch-when="false" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/female.jpg" class="profile-user-img img-responsive img-circle"/>  </div>
	    				<h4 class=" text-center"><a href="#/profile/{{page}}/{{ provider._source.bid }}"><strong>{{ provider._source.lastname }}</strong>, {{ provider._source.firstname }} {{ provider._source.mi }}, {{provider._source.degree}}</a></h4>
                      </td>
                    </tr>
                    <tr>
                      <th>Spacilty</th>
                      <td ng-repeat="provider in providers">{{ provider._source.specialties.join(", ")}}</td>

                    </tr>
                     <tr>
                      <th>Gender</th>
                      <td ng-repeat="provider in providers">
                      {{provider._source.gender}}</td>

                    </tr> <tr>
                      <th>Spoken Languages</th>
                      <td ng-repeat="provider in providers">{{provider._source.language}}</td>

                    </tr> <tr>
                      <th>Location Code </th>
                      <td ng-repeat="provider in providers">{{provider._source.offcode}}</td>

                    </tr>   <tr>
                      <th>Address</th>
                      <td ng-repeat="provider in providers">{{provider._source.address1}}</td>

                    </tr>   <tr>
                      <th>Group Affiliation</th>
                      <td ng-repeat="provider in providers">{{provider._source.group_name}}</td>

                    </tr>
                    <tr>
                      <th>Practice Status</th>
                      <td ng-repeat="provider in providers">{{provider._source.acpt_new_pat}}</td>

                    </tr>
                      <tr>
                      <th></th>
                      <td ng-repeat="provider in providers"><a  href="#/profile/{{page}}/{{ provider._source.bid }}"  class="small-box-footer btn bg-light-blue-active btn-flat pull-right btn-block" ><i class="fa fa-user-md"></i> &nbsp;&nbsp;View Profile</a></td>

                    </tr>
                  </tbody></table>
                </div><!-- /.box-body -->
              </div>
                </div>