<div class="col-md-12">
    <div class="row">
        <div class="col-md-12" ng-if="total == 0">
            <div class="alert  bg-gray ">
                <h4><i class="icon fa fa-warning"></i> Your search  did not match any documents!</h4>
                <strong>Suggestions:</strong>
                <ul class=" ">
                    <li>Make sure all words are spelled correctly.</li>
                    <li>Try different keywords.</li>
                    <li>Try more general keywords.</li>
                </ul>
                <strong>Did you mean? </strong>
                <ul class=" " >

                    <li ng-repeat="suggest in suggestion">
                    <a href="#" class="text-light-blue"><b>{{suggest.text}}</b></a></li>
                </ul>

            </div>
        </div>
        <div class="col-md-12" ng-if="total != 0">
            <div class="row">
                <div class="col-md-12 ">
                    <span>Refined by : </span>
                    <span class="label label-default" ng-if="name">Name : {{name}}</span>
                    <span class="label label-default" ng-if="location">Zip : {{location}} {{req.radius}}</span>
                    <span class="label label-default" ng-if="req.gender">Gender : {{req.gender}}</span>
                    <span class="label label-default" ng-if="specialty_sel">Specialty: {{specialty_sel}} </span>
                    <span class="label label-default" ng-if="req.network">Network : {{req.network}}</span>
                    <span class="label label-default" ng-if="req.language">Language : {{req.language}}</span>
                    <span class="label label-default" ng-if="req.county">County : {{req.county}}</span>
                    <span class="label label-default" ng-if="group_sel">Group : {{group_sel}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <ul class=" pagination pagination-sm">
                        <li>
                            <a href="#"><span class="fa  fa-info-circle"></span> Showing <b>{{total}}</b>  In-Network Doctors
                            </a>
                        </li>
                        <li><a href="" clas="bg-light-blue-active" ng-click="compareProfile()" ><i class="fa fa-files-o"></i> Compare {{selectionBID.size()}} Doctors</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <paging
                    page="page"
                    page-size="12"
                    total="total"
                    ul-class="pagination pagination-sm pull-right"
                    show-prev-next="true"
                    paging-action="doSearch(page)">
                    </paging>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ng-repeat="provider in providers">
                    <div class="box box-body box-profile box-header with-border {{getBoxClass(provider._source.type)}}">
                        <img ng-if="provider._source.gender == 'male'"  alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/male.jpg" class="profile-user-img img-responsive img-circle dhf-profile-user-img "/>
                        <img ng-if="provider._source.gender == 'female'"   alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/female.jpg" class="profile-user-img img-responsive img-circle dhf-profile-user-img "/>
                        <img ng-if="provider._source.type == 'H'" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/hospital.jpg" class="profile-user-img img-responsive img-circle dhf-profile-user-img " />
                        <img ng-if="provider._source.type == 'S'" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/ohs.jpg" class="profile-user-img img-responsive img-circle dhf-profile-user-img " />
                        <div class=" dhf-widget-user-header">
                            <p class=" text-center ">
                            <a href="" class="text-center" ng-click="showProfile(provider._source.bid)"><strong> {{ provider._source.name }}
                            <span ng-if="provider._source.degree">, {{ provider._source.degree }}</span>
                            </strong></a></p>
                            <p class=" text-center ">
                            <small ng-if="provider._source.omt1" class="label   bg-light-blue">OMNIA TIER1</small>
                            <small ng-if="provider._source.omt2" class="label   bg-gray">TIER2</small>
                            </p>
                        <p class=" text-center ">{{ provider._source.specialties.join(", ")}}</p></div>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item"  ng-if="provider._source.phone">
                                <span ><strong>  <i class="fa fa-phone margin-r-5"></i>Phone</strong> : {{ provider._source.phone }}</span>
                            </li>
                            <li class="list-group-item dhf-addrs">
                                <span class="" ><strong><i class="fa fa-map-marker margin-r-5"></i>Location</strong> : {{ provider._source.address1 }} ,  {{ provider._source.city }}, {{ provider._source.state }}  {{ provider._source.zip }}-{{ provider._source.zip4 }}</span>
                            </li>
                            <li class="list-group-item"  ng-if="provider._source.distance">
                                <strong ><i class="fa fa-car margin-r-5"></i>Distance</strong>
                                <span class="pull-right">{{ provider._source.distance }} Miles Away</span>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label class="text-light-blue">
                                        <input id="{{ provider._source.bid}}" class="checkbox" type="checkbox" value="{{provider._source.bid}}" ng-checked="selection.indexOf(provider._source.bid) > -1" ng-click="toggleSelection(provider._source.bid)" /> Add to Compare
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <button class="small-box-footer btn {{getBtnClass(provider._source.type)}} btn-flat pull-right btn-block" ng-click="showProfile(provider._source.bid)">  View Profile <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <div class="row">
                <div class="col-md-7 pull-right">
                    <paging
                    page="page"
                    page-size="12"
                    total="total"
                    ul-class="pagination pagination-sm inline pull-right"
                    show-prev-next="true"
                    paging-action="doSearch(page)">
                    </paging>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" ak-modal="compareModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="btn bg-navy btn-flat btn-xs pull-right" type="button" ng-click="closeModule()"><i class="fa  fa-close"></i> Close </button>
            </div>
            <div class="modal-body">
                <h3 class="box-title">Compare {{comparTotal}} providers</h3>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-bordered table-striped">
                        <tbody>
                            <tr >
                                <th> </th>
                                <td ng-repeat="provider in compareProviders">
                                    <div class="widget-user-image text-center" ng-switch="provider._source.gender">
                                        <img ng-switch-when="male" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/male.jpg" class="img-circle" />
                                    <img ng-switch-when="female" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/female.jpg" class="img-circle" /> </div>
                                    <h4 class=" text-center"><a href="#/profile/{{page}}/{{ provider._source.bid }}"><strong>{{ provider._source.lastname }}</strong>, {{ provider._source.firstname }} {{ provider._source.mi }} </a></h4>
                                </td>
                            </tr>
                            <tr>
                                <th>Tier Status</th>
                                <td ng-repeat="provider in compareProviders">
                                    <img class="text-center" ng-if="provider._source.omt1" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/tier-one.png" typeof="foaf:Image" />
                                <img class="text-center" ng-if="provider._source.omt2" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/tiertwo.png" typeof="foaf:Image" /></ </td>
                            </tr>
                            <tr>
                                <th>Spacilty</th>
                                <td ng-repeat="provider in compareProviders">{{ provider._source.specialties.join(", ")}}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td ng-repeat="provider in compareProviders">
                                    <p class="text-muted" ng-if="provider._source.male">Male</p>
                                <p class="text-muted" ng-if="provider._source.female">Female</p></td>
                            </tr> <tr>
                            <th>Spoken Languages</th>
                            <td ng-repeat="provider in compareProviders">{{provider._source.language.join(", ")}}</td>
                        </tr> <tr>
                        <th>Location Code </th>
                        <td ng-repeat="provider in compareProviders">{{provider._source.offcode}}</td>
                    </tr> <tr>
                    <th>National Provider Identifier</th>
                    <td ng-repeat="provider in compareProviders">{{provider._source.nationalproviderid}}</td>
                </tr> <tr>
                <th>Board Certified</th>
                <td ng-repeat="provider in compareProviders">{{provider._source.board_certified}}</td>
            </tr> <tr>
            <th>Education</th>
            <td ng-repeat="provider in compareProviders">{{provider._source.degree}}</td>
        </tr> <tr>
        <th>Group Affiliation</th>
        <td ng-repeat="provider in compareProviders">{{provider._source.group_name}}</td>
    </tr> <tr>
    <th>Notes</th>
    <td ng-repeat="provider in compareProviders">{{provider._source.note}}</td>
</tr>
<tr>
    <th>Practice Status</th>
    <td ng-repeat="provider in compareProviders">{{provider._source.acpt_new_pat}}</td>
</tr>
<tr>
    <th></th>
    <td ng-repeat="provider in compareProviders"><button    class="small-box-footer btn bg-light-blue-active btn-flat pull-right btn-block" ng-click="showProfile(provider._source.bid)"><i class="fa fa-user-md"></i> &nbsp;&nbsp;View Profile</button></td>
</tr>
</tbody></table>
</div><!-- /.box-body -->
</div>
</div>
</div>
</div>
<div class="modal" ak-modal="showModal">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button aria-label="Close" data-dismiss="modal" class="btn bg-navy btn-flat btn-xs pull-right" type="button" ng-click="closeModule()"><i class="fa  fa-close"></i> Close </button>
</div>
<div class="modal-body">
<div class="row">
<div class="col-md-12">
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-light-blue-active">
            <h3 class="widget-user-username col-md-8">{{details.name}}, {{details.degree}}</h3>
            <h5 class="widget-user-desc col-md-6">{{details.specialties | arrayToCommaSeprated}}</h5>
        </div>
        <div class="widget-user-image" ng-switch="details.gender">
            <img ng-switch-when="male" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/male.jpg" class="img-circle" />
            <img ng-switch-when="female" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/female.jpg" class="img-circle" />
            <img ng-if="details.type == 'H'" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/hospital.jpg" class="profile-user-img img-responsive img-circle dhf-profile-user-img " />
            <img ng-if="details.type == 'S'" alt="User Avatar" src="http://doctorfinder.horizonblue.com/sites/all/modules/custom/opd/images/ohs.jpg" class="profile-user-img img-responsive img-circle dhf-profile-user-img " />
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 class="description-header"><i class="fa fa-map-marker margin-r-5"></i>{{details.address1}}</h5>
                        <span class="description-text">{{details.city}},{{details.state}}, {{details.zip}} -{{details.zip4}} -{{details.county}}  </span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-2">
                    <div class="description-block">
                        <h5 class="description-header"> <i class="fa fa-phone margin-r-5"></i>Phone</h5>
                        <span class="description-text">{{details.phone}}</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-2">
                    <div class="description-block">
                        <h5 class="description-header">FAX</h5>
                        <span class="description-text">{{details.fax}}</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-2">
                    <div class="description-block">
                        <span  ng-if="details.omt1" class="label  bg-light-blue">OMNIA TIER1</span>
                        <span ng-if="details.omt2" class="label bg-gray">TIER2</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="col-md-12">
    <!-- Profile Image -->
    <div class="box box-primary">
        <div class="box-header bg-light-blue-active">
            <h3 class="box-title">Plans Accepted</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body  box-profile">
            <div class="col-md-4" ng-repeat="plan in plans"><i class="icon fa fa-check text-green"></i> {{plan.name}}</div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<div class="col-md-12">
    <!-- Profile Image -->
    <div class="box box-primary">
        <div class="box-header bg-light-blue-active">
            <h3 class="box-title">Doctor Details</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <strong>
                    <i class="fa  fa-genderless margin-r-5"></i>
                    Gender
                    </strong>
                    <p class="text-muted" ng-if="details.male">Male</p>
                    <p class="text-muted" ng-if="details.female">Female</p>
                    <hr>
                    <strong>
                    <i class="fa fa-language margin-r-5"></i>
                    Spoken Languages
                    </strong>
                    <p class="text-muted">{{details.language}}</p>
                    <hr>
                    <strong>
                    <i class="fa fa-hospital-o margin-r-5"></i>
                    Location Code
                    </strong>
                    <p class="text-muted">{{details.offcode}}</p>
                </div>
                <div class="col-sm-4">
                    <strong>
                    <i class="fa  fa-medkit margin-r-5"></i>
                    National Provider Identifier
                    </strong>
                    <p class="text-muted">{{details.nationalproviderid}}</p>
                    <hr>
                    <strong>
                    <i class="fa  fa-stethoscope margin-r-5"></i>
                    Board Certified
                    </strong>
                    <p class="text-muted">{{details.board_certified}}</p>
                    <hr>
                    <strong>
                    <i class="fa  fa-university margin-r-5"></i>
                    Education
                    </strong>
                    <p class="text-muted">{{details.degree}}</p>
                </div>
                <div class="col-sm-4">
                    <strong>
                    <i class="fa  fa-group margin-r-5"></i>
                    Group Affiliation
                    </strong>
                    <p class="text-muted">{{details.group_name}}</p>
                    <hr>
                    <strong>
                    <i class="fa fa-sticky-note-o margin-r-5"></i>
                    Notes
                    </strong>
                    <p class="text-muted">{{details.note}}</p>
                    <hr>
                    <strong>
                    <i class="fa  fa-plus-square margin-r-5"></i>
                    Practice Status
                    </strong>
                    <p class="text-muted">{{details.acpt_new_pat}}</p>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
</div>
</div>
<!--div class="modal-footer">
                                    <button aria-label="Close" data-dismiss="modal" class="btn bg-navy btn-flat btn-xs " type="button" ng-click="closeModule()"><i class="fa  fa-close"></i> Close </button>
                            </div>
</div--><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
</div>