<form ng-submit="doSearch(1)">
<div class="box-body">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Doctor/Hospital Name </label>
                <!--input class="form-control my-colorpicker1 colorpicker-element" ng-model="req.lastname" type="text"-->
                <autocomplete ng-model="name" data="names" on-type="updateName" attr-input-class="form-control my-colorpicker1 colorpicker-element"></autocomplete>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3">
            <div class="row">
                <div class="col-xs-12">
                    <label>Specialty / Service</label>
                    <autocomplete ng-model="specialty_sel" data="specialties" on-type="updateSpecialty" attr-input-class="form-control my-colorpicker1 colorpicker-element"></autocomplete>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3">
            <div class="row">
                <div class="col-xs-12">
                    <label>Localtion</label>
                    <autocomplete ng-model="location" data="locations" on-type="updateLocation" attr-input-class="form-control my-colorpicker1 colorpicker-element"></autocomplete>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3">
            <div class="form-group">
                <br/>
                <button  type="submit"  class="btn bg-orange btn-flat margin" ><span class="glyphicon glyphicon-search"></span> Search</button>
                <a href="#/" class="btn bg-navy btn-flat margin"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
            </div>
        </div>
    </div>

    <!-- /.row -->
</div>
</form>
<!-- /.box-body -->
