    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">REFINE YOUR SEARCH</li>
         
            <li class="treeview active">
                <a href="#">
                <i class="fa fa-group"></i> <span>Gender</span> <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li  ng-repeat="gen in aggregations.gender">
                        <a href="#"> <input type="radio" ng-model="req.gender" ng-change="doSearch(1)" value="{{gen.term}}"/> {{gen.term}} <span class="label label-default pull-right">{{gen.count}}</span> </a>
                    </li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="#">
                <i class="fa fa-car"></i> <span>Distance</span> <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li  ng-repeat="dist in distsnce">
                        <a href="#">  <input type="radio" ng-model="req.radius" value="{{dist.val}}" ng-change="doSearch(1)"/> {{dist.name}}  </a>
                    </li>
                </ul>
            </li>

                 <li class="treeview"  >
                <a href="#">
                <i class="fa  fa-user-md"></i> <span>Specialty</span> <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li ng-repeat="spc in aggregations.specialties">
                        <a href="#">  
                        <input type="radio" ng-model="specialty_sel" name="specialty_sel" ng-change="doSearch(1)" value="{{spc.term}}"/> {{spc.term}}  <span class="label label-default pull-right">{{spc.count}}</span></a>
                    </li>
                </ul>
            </li>

              <li class="treeview ">
                <a href="#">
                <i class="fa fa-language"></i> <span>Language</span> <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li ng-repeat="lan in aggregations.language">
                        <a href="#">  <input type="radio" ng-model="req.language" name="language" ng-change="doSearch(1)" value="{{lan.term}}"/> {{lan.term}}  <span class="label label-default pull-right">{{lan.count}}</span></a>
                    </li>
                </ul>
            </li>

               <li class="treeview ">
                <a href="#">
                <i class="fa  fa-map-marker"></i> <span>County</span> <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li ng-repeat="agr in aggregations.county">
                        <a href="#">  <input type="radio" ng-model="req.county" name="county" ng-change="doSearch(1)" value="{{agr.term}}"/> {{agr.term}}  <span class="label label-default pull-right">{{agr.count}}</span></a>
                    </li>
                </ul>
            </li>
            </ul>
 